# Properties of a Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
import random

In [3]:
x = random.sample(range(1,99), 6)
y = random.sample(range(1,99), 6)
z = random.sample(range(1,99), 6)
a = random.sample(range(1,99), 6)

dict_data = {'val1':x, 'val2':y, 'val3':z, 'val4':a}

df = pd.DataFrame(dict_data)
df

   val1  val2  val3  val4
0    65    29    34    64
1    88    70     9    63
2    96    93    16     9
3    28    50    50    69
4     7    40    67    80
5    51    81    55    39

In [4]:
df.head()

   val1  val2  val3  val4
0    65    29    34    64
1    88    70     9    63
2    96    93    16     9
3    28    50    50    69
4     7    40    67    80

In [5]:
df.head(3)

   val1  val2  val3  val4
0    65    29    34    64
1    88    70     9    63
2    96    93    16     9

In [6]:
df.tail(3)

   val1  val2  val3  val4
3    28    50    50    69
4     7    40    67    80
5    51    81    55    39

In [7]:
df.columns

Index(['val1', 'val2', 'val3', 'val4'], dtype='object')

In [8]:
df.values

array([[65, 29, 34, 64],
       [88, 70,  9, 63],
       [96, 93, 16,  9],
       [28, 50, 50, 69],
       [ 7, 40, 67, 80],
       [51, 81, 55, 39]], dtype=int64)

In [9]:
type(df.values)

numpy.ndarray

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape

(6, 4)

In [12]:
df.ndim

2

In [13]:
df.size

24