# Pandas Datafame from lists

In [3]:
import pandas as pd

In [2]:
dataframe_list_example = [5,10,15,20,25]
dataframe_list_example

[5, 10, 15, 20, 25]

In [4]:
pd.DataFrame(data=dataframe_list_example, columns=['values'], dtype='float')

   values
0     5.0
1    10.0
2    15.0
3    20.0
4    25.0

# Pandas Datafame from dictionaries

In [5]:
import random

In [6]:
x= random.sample(range(1,99), 6)
x

[42, 35, 47, 40, 43, 98]

In [7]:
y= random.sample(range(1,99), 6)
z= random.sample(range(1,99), 6)
a= random.sample(range(1,99), 6)

In [8]:
dict_data = {'val1':x, 'val2':y, 'val3':z, 'val4':a}
dict_data

{'val1': [42, 35, 47, 40, 43, 98],
 'val2': [49, 2, 13, 67, 60, 88],
 'val3': [78, 60, 11, 89, 42, 17],
 'val4': [15, 57, 6, 78, 52, 91]}

In [9]:
df = pd.DataFrame(dict_data)
df

   val1  val2  val3  val4
0    42    49    78    15
1    35     2    60    57
2    47    13    11     6
3    40    67    89    78
4    43    60    42    52
5    98    88    17    91