# Pandas Element Selection loc and iloc

In [1]:
import pandas as pd
import numpy as np

np.random.seed(88)

In [3]:
df = pd.DataFrame(data=np.random.randn(10, 5), index = 'A B C D E F H I J K'.split(), columns = 'VALUE1 VALUE2 VALUE3 VALUE4 VALUE5'.split())
df

     VALUE1    VALUE2    VALUE3    VALUE4    VALUE5
A -1.419523  0.312229 -1.282849  0.160704  0.454525
B -0.707391  0.493811  0.137946 -0.272587  0.820660
C  0.027164  0.782549  0.101352  0.647331 -0.336499
D -0.805200  1.414704 -1.243236 -1.057594  0.381915
E  0.242662 -0.524589 -0.653479 -1.555315  0.001241
F  0.150090 -0.177472  0.542897 -0.664550 -0.349174
H  0.398605 -0.040033 -0.507078 -0.035781 -0.158569
I  0.052405 -0.223510 -0.605993 -0.794303 -0.073485
J  0.520230  1.159139  1.306283  1.127373  1.089063
K -0.605494 -0.042648  1.105871  0.189226  0.739139

In [4]:
df.loc['A':'D']

     VALUE1    VALUE2    VALUE3    VALUE4    VALUE5
A -1.419523  0.312229 -1.282849  0.160704  0.454525
B -0.707391  0.493811  0.137946 -0.272587  0.820660
C  0.027164  0.782549  0.101352  0.647331 -0.336499
D -0.805200  1.414704 -1.243236 -1.057594  0.381915

In [5]:
df.iloc[0:4]

     VALUE1    VALUE2    VALUE3    VALUE4    VALUE5
A -1.419523  0.312229 -1.282849  0.160704  0.454525
B -0.707391  0.493811  0.137946 -0.272587  0.820660
C  0.027164  0.782549  0.101352  0.647331 -0.336499
D -0.805200  1.414704 -1.243236 -1.057594  0.381915

In [6]:
df.loc['C', 'VALUE4']

0.6473309860968571

In [7]:
df.iloc[2, 3]

0.6473309860968571